<!--<div class="container">
  <h2>User List</h2>
  <div *ngFor="let user of userList" class="user-card">
    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
    <p>ID: {{ user.id }}</p>
    <p>Department: {{ user.department }}</p>
    <p>Admin: {{ user.isAdmin ? 'Yes' : 'No' }}</p>
     ternary operator to give user appropriate feedback -->
    <!-- button to toggle admin status
    <button (click)="toggleAdminStatus(user)"class="toggle-button"> Toggle Admin Status
    </button>
  </div>
</div>-->
<div>
  <h1>{{ message }}</h1>
  <button (click)="showMessage()">Show
    Message</button>
</div>
<app-content-card>
  *ngFor="let item of contentArray"
  [contentItem]="item"
  [class]="isFirst ? 'is-first': ''">
</app-content-card>

<app-content-card [contentItem]="individualContentItem">
</app-content-card>
<app-content-card *ngFor="let item of contentArray; index as i; first as isFirst" [contentItem]="item">
</app-content-card>
